.body {
    min-width: 320px;
    max-width: 1120px;
    height: 597px;
    background-color: #F8F8F8;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

.upperMenu {
    display: flex;
    min-width: 320px;
    height: 87px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #D9FFF5;
}

.main {
    width: 320px;
    height: 322px;
}

.button {
    display: flex;
    margin-top: 24px;
    margin-right: 16px;
    padding: 0;
    border: none;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
}

.button__text {
    display: flex;
    margin-right: 32px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    font-weight: 500;
    align-items: center;
}

.button__icon {
    display: flex;
    width: 40px;
    height: 40px;
}

.button__icon:hover {
    border-radius: 50%;
    opacity: 0.8;
}

.dropdown .button {
    margin-left: 16px;
}

.dropdown, .connection, .settings {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger {
    position: fixed;
    left: 0;
    width: 320px;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 16px 0 52px 0 #0E185033, -2px 0 4px 0 #454F7E05;
    display: flex;
    flex-direction: column;
}

.burger__container {
    position: absolute;
    width: 320px;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.burger__header {
    display: flex;
    margin: 0 24px;
}

.burger__nav {
    min-height: 380px;
}

.burger_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 31px;
    margin-left: 24px;
    gap: 24px;

}

.burger__button {
    display: flex;
    margin-top: 24px;
    margin-right: 16px;
    padding: 0;
    border: none;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
}

.burger__button:hover {
    opacity: 0.8;
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.burger__link {
    list-style-type: none;
    text-decoration: none;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #1B1C21;
    font-weight: 500;
    margin-bottom: 32px;
}

.burger__link:hover::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background: #41F6D7;
    position: absolute;
    left: 0;
}

.burger__link:hover {
    color: #7E7E82;
    transition-duration: 0.3s;
}

.burger__footer {
    margin-top: auto;
    margin-bottom: 32px;
    margin-left: 24px;
}

.contactInfo {
    margin-bottom: 40px;
}

.contactInfo__mail {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    font-weight: 500;
    color: #1B1C21;
    margin: 0;
    margin-bottom: 12px;
}

.contactInfo__number {
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-weight: 700;
    color: #1B1C21;
    margin: 0;

}

.lang {
    display: flex;
    list-style-type: none;
    padding: 0;
    column-gap: 7px;
    background-color: #ffffff;
    margin: 0;
}

.lang__button {
    background-color: #ffffff;
    border: 0;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #1B1C21;
    font-weight: 500;
    margin-right: 7px;
}

.lang__button:hover {
    color: #7E7E82;
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.connection {
    display: flex;
}

.burger__connection {
    display: flex;
    padding: 0;
    margin-bottom: 10px;
}

.settings {
    display: flex;
}

.logo {
    width: 96.55px;
    height: 50.81px;
    margin-top: 18.59px;
    margin-bottom: 18.59px;
    margin-right: 16.73px;
}

.logo__icon {
    width: 96.55px;
    height: 50.81px;
}

.logo__icon:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.divider {
    height: 32px;
    border-left: 2px solid #EAEAEA;
    margin-top: 28px;
    margin-right: 20px;
    margin-bottom: 28px;
}

.title__line {
    width: 4px;
    height: 40px;
    border-left: 4px solid #41F6D7;
    margin: 0;
    margin-top: 24px;
    margin-right: 12px;
}

.title {
    display: flex;
}

.title__text {
    margin: 0;
    margin-top: 24px;
    margin-right: 16px;
    padding: 0;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
}

.nav__link {
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav__imte {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    height: 40px;
    margin-left: 16px;
    margin-top: 24px;
}

.link {
    white-space: nowrap;
    text-decoration: none;
    height: 30px;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    border: none;
    background-color: #F8F8F8;
    color: #7E7E82;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.link:first-child {
    display: block;
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
}

.link:hover {
    color: #000000;
}

.subtitle__text {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin: 16px;
    margin-top: 0px;
}

.text__phone {
    width: 280px;
    height: 90px;
    margin: 0px;
}

.readMore {
    display: flex;
    white-space: nowrap;
    width: 132px;
    height: 24px;
    margin: 16px;
    padding: 0;
    border: none;
    background-color: #F8F8F8;
}

.readMore:hover {
    color: #7E7E82;
}

.readMore__icon {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 0;
}

.readMore__text {
    width: 100px;
    height: 24px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    font-weight: 500;
}

.photo {
    width: 320px;
    height: 176px;
}

.connection, .divider__hidden, .title__button, .text__tablet, .text__computer {
    display: none;
}

@media (min-width: 320px) {
    .logo {
        margin-right: auto;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .subtitle {
        margin-left: auto;
        margin-right: auto;
    }

    .photo {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 784px) {
    .divider__hidden, .text__tablet {
        display: block;
    }

    .connection {
        display: flex;
    }

    .text__phone, .text__computer {
        display: none;
    }

    .body {
        width: auto;
        height: 504px;
    }

    .upperMenu {
        min-width: 784px;
        height: 88px;
    }

    .dropdown, .divider__active {
        order: -1;
    }

    .logo {
        margin-right: auto;
    }


    .main {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        margin-right: 0;
        margin-bottom: 40px;
        margin-left: 24px;
        min-width: 784px;
        max-width: 1120px;
        min-height: 208px;
        max-height: 363px;
    }

    .subtitle {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        padding: 0;
        width: 312px;
    }

    .subtitle__text {
        max-width: 490px;
        max-height: 160px;
        margin: 0;
    }

    .text__tablet {
        margin: 0;
        min-width: 312px;
        max-height: 160px;
    }

    .text__paragraph:first-child {
        margin: 0;
    }

    .text__paragraph:nth-child(2) {
        margin: 0;
    }

    .photo {
        display: flex;
        min-width: 360px;
        max-width: 531px;
        min-height: 208px;
        max-height: 307px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
    }

    .readMore {
        margin: 0;
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 1120px) {
    .upperMenu {
        display: none;
    }

    .menu {
        width: 1096px;
        height: 130px;
        border: 0;
        margin-top: 42px;
        margin-right: 25px;
    }

    .title {
        display: flex;
        height: 40px;
    }

    .title__button {
        display: flex;
    }

    .title__line, .title__text {
        margin: 0;
    }

    .title__text {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 30px;
    }

    .slideMenu {
        flex-wrap: wrap;
        width: 1063px;
        height: 82px;
        margin-left: 32px;
    }

    .main {
        height: 363px;
        width: 1120px;
    }

    .button {
        display: flex;
        white-space: nowrap;
        text-decoration: none;
        padding-top: 0;
        padding-right: 15px;
        padding-bottom: 0px;
        padding-left: 17px;
        width: auto;
    }

    .button:hover {
        color: #7E7E82;
    }

    .button__text {
        margin-top: 8px;
    }

    .text {
        width: 490px;
        height: 160px;
    }

    .readMore {
        margin-left: 0;
        margin-top: 13px;

    }

    .photo {
        width: 531.35px;
        height: 307px;
    }
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
    url('TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-DemiBold.woff') format('woff'),
    url('TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}