$white: #FFFFFF;
$background: #F8F8F8;
$blurBackground: rgba(255, 255, 255, 0.9);
$highlight: #41F6D7;
$grayText: #7E7E82;
$blackText: #1B1C21;
$lightGray: #B5B6BC;
$pink: #FF3E79;
$shadow: #0E185033;
$shadowBlack: #454F7E05;
$border: #EAEAEA;
$lightBorder: #B8FFEC;
$black: #000000;
$borderTop: #D9FFF5;

