.subtitle {

  height: auto;

  @media (min-width: 320px) {
    justify-content: center;
    width: auto;
    display: grid;
  }

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    min-width: 784px;
    max-width: 1120px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: 1366px) {
    width: 1120px;
  }

  &__text {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin: 16px;
    margin-top: 0px;

    @media (min-width: 768px) {
      max-width: 490px;
      max-height: 160px;
    }
  }

}
